#services{
    background-image: url(../../assets/web-services.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 -7rem;
    width: 100%;
    position: relative;
    top: 0;
    margin: 0;
    height: 100%;
    padding-bottom: 5rem;
    color: var(--color-bg);
}

#services h1{
    margin: 0;
    color: brown;
    padding-bottom: 3rem;
}

.serviceCards{
    position: relative;
    display: flex;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    padding: 3rem 2rem;
    background:rgba(0, 0, 0, .2)
}

.serviceCard{
    box-shadow: 1px 1px 1px black;
    height: 50vh;
    width: 100%;
    transition: all .2s ease;
    overflow:hidden;
    background: white;
    color: black;
    position: relative;
}

.serviceCard:hover {
    color: white;
    background:rgba(31, 51, 52, .9);
}

.serviceCard img{
    width: 100px;
    aspect-ratio: 1.5/1;
    margin: 1rem auto;    
}

@media screen and (max-width: 627px){
    #services{
        height: 100%;
        background-position: -30rem 0;
    }
    .serviceCards{
        flex-direction: column;
    }
}