#services{
    width: 100%;
    position: relative;
    top: 0;
    margin: 0;
    height: 100%;
    padding-bottom: 5rem;
    color: var(--color-bg);
    background-color: var(--color-white);
}

#services h1{
    margin: 0;
    color: brown;
    padding-bottom: 3rem;
}

.serviceCards{
    position: relative;
    display: flex;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    padding: 3rem 2rem;
    background:rgba(0, 0, 0, .2)
}

.serviceCard{
    box-shadow: 1px 1px 1px black;
    height: 50vh;
    width: 100%;
    transition: all .2s ease;
    overflow:hidden;
    background: white;
    color: var(--color-bg5);
    position: relative;
    padding: 2rem;
}

.serviceCard h2{
    color: var(--color-bg5);
}

.serviceCard p{
    font-weight: 100;
    line-height: 1.6rem;
}

.serviceCard:hover{
    color: var(--color-white);
    background:var(--color-bg5);
}
.serviceCard:hover h2 {
    color: white;
}

.serviceCard img{
    width: 100px;
    aspect-ratio: 1.5/1;
    margin: auto;    
}


@media screen and (max-width: 827px){
    .serviceCard{
        font-size:x-small;
    }
    .serviceCard p{
        line-height: normal;
    }
}
@media screen and (max-width: 627px){
    #services{
        height: 100%;
        background-position: -30rem 0;
    }
    .serviceCards{
        flex-direction: column;
    }
    
    .serviceCard h2{
        font-size: x-large;
    }
    .serviceCard p{
        font-size: large;
    }
}