#services{
    width: 100%;
    position: relative;
    top: 0;
    height: 100%;
    background-image: url(../../assets/service_img6.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.service__container{
    backdrop-filter: blur(4px);
}

#services h1{
    margin: 0;
    color: white;
}

.serviceCards{
    position: relative;
    display: flex;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    padding: 2rem;
}

.serviceCard{
    box-shadow: 3px 3px 3px black;
    width: 66%;
    transition: all .2s ease;
    overflow:hidden;
    background: white;
    position: relative;
    padding: 1rem 2rem 2rem 2rem;
    color: black;
    font-weight: 400;
    font-size: 1.3em;
    border: 1px solid bisque;
}

.serviceCard img{
    width: 100px;
    aspect-ratio: 1.5/1;
    margin: auto;    
}
.serviceCard h3{
    text-shadow: 1px 1px 0px black;
}

.serviceCard:hover{
    color: white;
    background: var(--color-bg2);
}
.serviceCard:hover h3{
    color: orange;
}
.serviceMuscle{
    display: flex;
    margin: 5px 0;
    text-align: center;
    gap: .5rem;
    padding: 1rem;
    overflow: hidden;
}
.serviceMuscle .muscle{
    box-shadow: 3px 3px 5px black;
    background: white;
    width: 100%;
    padding: 1rem;
    transition: all .5s ease;
    color: black;
}

.serviceMuscle .muscle:hover{
    background: var(--color-bg2);
    color: white;
}

.serviceMuscle .muscle:hover h3{
    color: orange;
}

.serviceMuscle h3{
    text-shadow: 1px 0px 0px black;
    padding: .3rem 0;
    color: brown;

}
.serviceMuscle ul li{
    padding-bottom: .3rem;
    font-weight: 400;
    font-size: large;
}

@media screen and (max-width: 1024px){ 
    .serviceCard img{
        width: 90px;    
    }
    .serviceMuscle{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .serviceMuscle .muscle{
        margin: 0
    }
}
@media screen and (max-width: 627px){
    #services{
        background-position: -55rem 0rem;
    }
    .serviceCards{
        flex-direction: column;
        padding: .5rem;
    }
    .serviceCard{
        width: 100%;
    }
    .serviceMuscle{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
        gap: 0rem;
    }
    .muscle{
        border-bottom: 2px solid bisque;
    }
}