#project{
    width: 100%;
    padding-bottom:2rem;
    position: relative;
    margin: 0;
    height: 100%;
    color: brown;

}

#project h1{
    padding-bottom: .5rem;
}

#project h1::before, #project h1::after{
    background: brown;
}

.project__cards{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background: var(--color-white)
}

.project__card__row{
    position: relative;
    display: flex;
    gap: .5rem;
}

.project__card img{
    aspect-ratio: 1.5/1;
}

.project__card{
    position: relative;
}

.project__card span{
    position: absolute;
    left: 0%;
    top: 0%;
    height: 0;
    backdrop-filter: blur(1px);
    text-align: center;
    color: transparent;
    background: rgba(0, 0, 0, .7);
    transition: all .7s ease;
    width: 100%;
}

.project__card:hover span{
    font-size: x-large;
    height: 100%;
    color: white;
}

@media screen and (max-width: 627px){
    .project__cards{
        padding: 1rem;
    }
    .project__card__row{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 827px){
    .project__card:hover span{
        font-size: larger;
    }
}