#project{
    width: 100%;
    padding: 0;
    position: relative;
    margin: 0;
    height: 100%;
    background: url(../../assets/work2.jpg);
    background-attachment: fixed;
    color: bisque;
}

#project h1{
    padding-top: 4rem;
    background: rgba(29, 29, 29, 1);
    border-radius: 0 0 50px 50px;
}

.project__cards{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem 5rem;
}

.project__card__row{
    position: relative;
    display: flex;
    gap: 1.5rem;
}

.project__card img{
    border-radius: 7px;
}

.project__card{
    position: relative;
}

.project__card span{
    position: absolute;
    left: 0%;
    top: 0%;
    height: 0;
    backdrop-filter: blur(1px);
    text-align: center;
    color: transparent;
    background: rgba(0, 0, 0, .3);
    transition: all .7s ease;
    width: 100%;
}

.project__card:hover span{
    height: 100%;
    color: white;
}

.project__foot{
    content: '';
    width: 100%;
    height: 5rem;
    background:rgba(29, 29, 29, 1);
    border-radius: 50px 50px 0 0;
}

@media screen and (max-width: 627px){
    .project__cards{
        padding: 1rem;
    }
    .project__card__row{
        display: flex;
        flex-direction: column;
    }
}