#project{
    width: 100%;
    padding-bottom:2rem;
    position: relative;
    margin: 0;
    height: 100%;
    color: brown;

}

#project h1{
    padding-bottom: .5rem;
}

#project h1::before, #project h1::after{
    background: brown;
}

.project__cards{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background: var(--color-white);
    padding: .5rem;
}

.project__card__row{
    position: relative;
    display: flex;
    gap: .5rem;
}

.project__card{
    aspect-ratio: 1/1.3;
    content: ' ';
    width: 100%;
    background: var(--color-bg);
    position: absolute;
}
.project__one{
    animation: scheduleAnim 40s 7s ease infinite backwards;
}

.project__two{
    animation: memeAnim 20s 7s ease infinite backwards;
}

@keyframes scheduleAnim {
    0% { background: url(../../assets/schedule__ss.png); background-size: 100% 100%; background-repeat: no-repeat;}
    20% { background: url(../../assets/schedule__ss.png); background-size: 100% 100%; background-repeat: no-repeat;}
    25% { background: url(../../assets/schedule__ss2.png); background-size: 100% 100%; background-repeat: no-repeat;}
    45% { background: url(../../assets/schedule__ss2.png); background-size: 100% 100%; background-repeat: no-repeat;}
    50% { background: url(../../assets/schedule__ss3.png); background-size: 100% 100%; background-repeat: no-repeat;}
    70% { background: url(../../assets/schedule__ss3.png); background-size: 100% 100%; background-repeat: no-repeat;}
    75% { background: url(../../assets/schedule__ss4.png); background-size: 100% 100%; background-repeat: no-repeat;}
    95% { background: url(../../assets/schedule__ss4.png); background-size: 100% 100%; background-repeat: no-repeat;}
    100% { background: url(../../assets/schedule__ss.png); background-size: 100% 100%; background-repeat: no-repeat;}
}
@keyframes memeAnim {
    0% { background: url(../../assets/meme__sshot.png); background-size: 100% 100%; background-repeat: no-repeat}
    20% { background: url(../../assets/meme__sshot.png); background-size: 100% 100%; background-repeat: no-repeat}
    25% { background: url(../../assets/meme__sshot2.png); background-size: 100% 100%; background-repeat: no-repeat}
    45% { background: url(../../assets/meme__sshot2.png); background-size: 100% 100%; background-repeat: no-repeat}
    50% { background: url(../../assets/meme__sshot3.png); background-size: 100% 100%; background-repeat: no-repeat}
    70% { background: url(../../assets/meme__sshot3.png); background-size: 100% 100%; background-repeat: no-repeat}
    75% { background: url(../../assets/meme__sshot4.png); background-size: 100% 100%; background-repeat: no-repeat}
    95% { background: url(../../assets/meme__sshot4.png); background-size: 100% 100%; background-repeat: no-repeat}
    100% { background: url(../../assets/meme__sshot.png); background-size: 100% 100%; background-repeat: no-repeat}
}

.project__card{
    position: relative;
}

.project__card p{
    font-weight: 100;
    font-size: large;
    color: var(--color-white);
    animation: fadeIn .7s ease;
    display: none;
}
.project__card:hover p{
    font-weight: 100;
    font-size: large;
    color: var(--color-white);
    display: block;
    padding: 0 1rem;
    text-align: justify;
}
.project__card h2{
    font-size: xx-large;
}

.project__card a{
    right: 50%;
    transform: translate(50%, 50%);
    z-index: 1;
    position: absolute;
    bottom: 0;
    height: 0;
    backdrop-filter: blur(1px);
    text-align: center;
    color: transparent;
    transition: all .7s ease;
    width: 0;
}
.project__card:hover a:hover{
    text-decoration: underline;
}
.project__card:hover a{
    color: orange;
    text-shadow: 1px 1px 1px black;
    bottom: 10%;
    width: 50%;
}
.project__card span{
    position: absolute;
    left: 0%;
    top: 0%;
    height: 0;
    backdrop-filter: blur(1px);
    text-align: center;
    color: transparent;
    background: rgba(0, 0, 0, .7);
    transition: all .7s ease;
    width: 100%;
}

.project__card:hover span{
    height: 100%;
    color: white;
}

.project__card .project__description p{
    margin: 1rem;
    text-align: left;
}

@media screen and (max-width: 627px){
    .project__card__row{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 940px){
    .project__card .project__description h2{
        font-size: 1.1em;
    }
    .project__card .project__description p{
        margin: .1rem;
        padding: .2rem .5rem;
        font-size: .74em;
    }
}