#about{
  color: bisque;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  background-size: cover;
  height: 100%;
  background: var(--color-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }

  .about__container{
    color: white;
    display: grid;
    grid-template-columns: 30% 69%;
    gap: 1%;
    justify-content: center;

    margin-bottom: 1rem;
    padding: 1rem;
  }
  
  .img__container{
    background: var(--color-bg5);
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 6rem;
    overflow: hidden;
  }
  
  
  .about__img{
    overflow: hidden;
    width: 100%;
  }
  
  .about__img img{
    width: 100%;
    aspect-ratio: 1/1;
    transition: transform .5s ease;
  }
  
  .about__img img:hover{
    transform: scale(1.1);
  }

  .cards{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    width: 100%;
    padding: .15rem;
  }
  
  .cards button{
    width: 100%;
  }
  
  .about__content{
    border-radius: 6rem 0 0 6rem;
    border-right: none;
    text-align:left;
    height: 70vh;
    z-index: 2;
    background: var(--color-bg5);
    background-image: url(../../assets/arabesque.png);
    text-align: justify;
    padding: 4rem 4rem 0 4rem;
  }
  
  .about__content h4{
  font-weight: 100;
}

.skills{
      width: 200%;
      background: black;
      color: bisque;
      display: inline-flex;
      gap: 10rem;
      letter-spacing: 2px;
      word-spacing: 3px;
      position:relative;
      z-index: 2;
      margin-bottom: 5rem;
    }
    
    .skills h3{
      background: black;
      z-index: 2;
      padding: 0 10px 0 10px;
      border-radius: 0 0px 40px 0;
    }
    
    .skills h4{
      position: absolute;
      bottom: 0;
    }
    
    .skills:hover > h4{
      animation-play-state:  paused;
    }
    
    .skills .skills__slide1{
      width: 100%;
      animation: sliding__text 25s linear infinite;
    }
    .skills .skills__slide2{
      width: 100%;
      animation: sliding__text 25s linear both infinite;
      animation-delay: 12.5s;
    }
    
    @keyframes sliding__text {
      from {transform: translate(1700px)}
      to{ transform: translate(-600px)}
    }

    @media screen and (max-width: 627px){
      #about{
        height: 100%;
      }
      .about__container{
        grid-template-columns: 1fr;
        gap: .5rem;
        margin: 0.5rem auto;
      }
      .about__content{
        height: 100%;
        text-align: end;
        padding: 2rem;
      }
      .about__content h3{
        text-align: center;
      }
    }
    
    @media screen and (max-width: 827px){
      .cards{
        grid-template-columns: 100%;
      }
    }