.home {
  margin: 0 auto;
  justify-content:center;
  height: 100vh;
  position: sticky;
  top: 0;
  z-index: 0;
  /*background-image: url(../../assets/home10.jpg);*/
  background-image: url(../../assets/home10.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--color-bg5);
  animation: slideDown 1s ease;
}

.home__intro{
  background: rgba(0, 0, 0, .1);
  backdrop-filter: sepia(0%);
  position: relative;
  width: 100%;
  height: 100%;
}

.text__container{
  padding: 13.5rem 0 0 0;
  margin: 0;
  align-content: center;
}

.home__intro h1 {
    position: relative;
    font-size: 2.8em;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    overflow:hidden;
    white-space: nowrap;
    
    --interval: 2s;
    display: block;
    text-shadow: 
    0px 0px 0px transparent,
    0px 0px 0px transparent,
    0px 0px 0px transparent,
    1.7px 1.7px 1.7px black;
    color: white;
  }
  
  .home__intro span h1{
    background: transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-right: 4px solid transparent;
    animation: intro 24s 3.1s steps(100, end) both infinite, blink-caret .6s step-end both infinite;
  }
  .txtLine1{
    animation: subIntro 2s 1s steps(100, end) backwards;
    font-weight: 700;
  }
  .home__intro .txtLine2{
    font-size: 3em;
  }
  .home__intro .txtLine3{
    animation-delay: 9.1s;
    font-size: 2em;
  }
  .home__intro .txtLine4{
    animation-delay: 15.1s;
    font-size: 2em;
  }
  .home__intro .txtLine5{
    animation-delay: 21.1s;
    font-size: 2em;
  }
  
  @keyframes intro {
    from, to { width: 0%;}
    15% { width: 100%;}
    25% { width: 0%;}
  }
  
  
  @keyframes subIntro {
    from { width: 0%;}
    to { width: 100%;}
  } 

  .contact__link{
    position: absolute;
    bottom: 15%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color-white);
    width: 49%;
    background: var(--color-bgb1);
    border-radius: 5px;
  }
  
  .contact__link h3{
    font-weight: 100;
  }
  
  .contact__link button{
    padding: .5rem;
    background: var(--color-bgb1);
    font-size:large;
    align-self: center;
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
    color: var(--color-white2);
  }
  
  .contact__link button:hover{
    color: bisque;
  }

  .home__socials{
    position: relative;
    bottom: 55%;
    width: 100%;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 1s;
    display: none;
  }
  
  .homesoc__icons{
    position: absolute;
    right: 50%;
    transform: translateX(50%);
  }
  
  .homesoc__icons a{
    border-radius: 7px;
    color:var(--color-light);
    background-color: rgba(0, 0, 0, 0.5);
    font-size:80px;
    padding: 1rem 2.5rem;
    text-align: center;
  }
  
  .homesoc__icons .icon__row{
    display: flex;
    gap: 3px;
    margin: 3px
}

@media screen and (max-width: 627px){
  .text__container{
    padding: 10rem 0 0;
    margin: 0 auto;
  }
  .home__intro .txtLine1{
    font-size: 1.5em;
  }
  .home__intro .txtLine2, .home__intro .txtLine3, .home__intro .txtLine4{
    font-size: 1.4em;
  }
  
 .home__intro .txtLine5{
    font-size: 1.3em;
  }

  .home__socials{
          display: block;
      }
    .home__socials .homesoc__icons{
      display: block;
    }
  }
  
  @media screen and (max-width: 827px){

    .home__intro .txtLine2{
      font-size: 1.7em;
    }
    .home__intro .txtLine3{
      font-size: 1.3em;
    }

}
@media screen and (max-width: 1024px){
    .home__intro .txtLine2{
      font-size: 1.6em;
  }
  .home__intro .txtLine3{
      font-size: 1.3em;
  }

  .contact__link{
    width: 90%;
  }
}