#home {
  margin: 0;
  justify-content:center;
  height: 100vh;
  position: relative;
  top: 0;
  z-index: 0;
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url(../../assets/home10.jpg);

}

.home__intro{
  background: rgba(0, 0, 0, .4);
  backdrop-filter: sepia(0%);
  border-radius: 7px;
  position: relative;
  top: 6rem;
  width: 77%;
  height: 70%;
  margin: auto;
  animation: slideDown 1.8s 1s ease;
}

.text__container{
  padding: 5% 0 0 0;
  margin: 0;
  align-content: center;
}

.home__intro h1, .home__intro h2 {
    font-weight: 400;
    position: relative;
    font-size: 2.8em;
    text-align: center;
    margin: 0 auto;
    overflow:hidden;
    white-space: nowrap;
    
    --interval: 2s;
    display: block;
    text-shadow: 
    0px 0px 0px transparent,
    0px 0px 0px transparent,
    0px 0px 0px transparent,
    1.7px 1.7px 1.7px black;
    color: white;
  }
  
  .home__intro span h1, .home__intro h2{
    background: transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-right: 4px solid transparent;
  }
  .home__intro .txtLine1{
    animation: subIntro 3s 2.5s steps(100, end) backwards;
    font-weight: 700;
  }
  .home__intro h2{
    animation: intro 24s 4.1s steps(100, end) both infinite;
  }
  .home__intro .txtLine2, .home__intro .txtLine3, .home__intro .txtLine4, .home__intro .txtLine5{
    font-size: 2.5em;
  }
  .home__intro .txtLine3{
    animation-delay: 10.1s;
  }
  .home__intro .txtLine4{
    animation-delay: 16.1s;
  }
  .home__intro .txtLine5{
    animation-delay: 22.1s;
  }
  
  @keyframes intro {
    from, to { width: 0%;}
    15% { width: 100%;}
    25% { width: 0%;}
  }
  
  
  @keyframes subIntro {
    from { width: 0%;}
    to { width: 100%;}
  } 

  .contact__link{
    position: absolute;
    bottom: 15%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color-white);
    padding: 0 1rem;
    background: var(--color-bgb1);
    border-radius: 5px;
  }
  
  .contact__link h3{
    font-weight: 400;
  }
  
  .contact__link button{
    padding: .5rem;
    background: var(--color-bgb1);
    font-size:large;
    align-self: center;
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
    color: var(--color-white2);
  }
  
  .contact__link button:hover{
    color: bisque;
  }

@media screen and (max-width: 627px){
    .text__container{
      padding: 10rem 0 0;
      margin: 0 auto;
    }
    .home__intro .txtLine1{
      font-size: 3em;
    }
    .home__intro .txtLine2, .home__intro .txtLine4, .home__intro .txtLine5{
      font-size: 1.6em;
    }
    .home__intro .txtLine3{
      font-size: 1.4em;
    }
  }
  
  @media screen and (max-width: 827px){
    .home__intro{
      width: 100%;
      height: 100%;
      border-radius: 0;
      top: 0;
      padding-top: 3rem;
    }
  }
  @media screen and (max-width: 1024px){
    .contact__link{
    width: 90%;
  }
}