#home {
  margin: 0;
  justify-content:center;
  height: 100vh;
  position: relative;
  top: 0;
  z-index: 0;
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url(../../assets/home10.jpg);
}

.home__intro{
  background: rgba(0, 0, 0, .4);
  backdrop-filter: blur(2px);
  position: relative;
  top: 0rem;
  width: 100%;
  height: 100%;
  margin: auto;
  animation: fadeIn 1s steps(100) backwards;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 5rem;
}

.text__container{
  position: relative;
}

.home__intro h1, .home__intro h2 {
    font-weight: 400;
    position: relative;
    font-size: 2.8em;
    text-align: center;
    margin: 0 auto;
    overflow:hidden;
    white-space:nowrap;
    text-shadow: 2.5px 2.5px 1px black;
    color: white;
  }
  
  .home__intro span h1, .home__intro h2{
    background: transparent;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
  }
  .home__intro .txtLine1{
    animation: subIntro 3s 2s steps(100, end) backwards;
    font-weight: 700;
  }
  .home__intro h2{
    animation: intro 24s 4.2s steps(100, end) both infinite, text__opacity 24s 4.2s steps(100) infinite;
  }
  .home__intro .txtLine2, .home__intro .txtLine3, .home__intro .txtLine4, .home__intro .txtLine5{
    font-size: 2.5em;
  }
  .home__intro .txtLine3{
    animation-delay: 10.2s;
  }
  .home__intro .txtLine4{
    animation-delay: 16.2s;
  }
  .home__intro .txtLine5{
    animation-delay: 22.2s;
  }
  
  @keyframes intro {
    from, to { width: 0%;}
    15% { width: 100%;}
    25% { width: 0%;}
  }
  @keyframes text__opacity {
    from, to { opacity: 1;}
    15% { opacity: 1;}
    45% { opacity: 0;}
  }
  
  
  @keyframes subIntro {
    from { width: 0%;}
    to { width: 100%;}
  } 

.gray__text{
  color: white;
  letter-spacing: 3px;
  font-size: 1rem;
  position: relative;
  text-align: center;
  text-shadow: 1.2px 1.2px .1px black;
  animation: fadeIn 1s 2s backwards;
}

.contact__link{
  position: relative;
  bottom: 0;
  padding: 1rem;
  width: 100%;
  z-index: 2;
}
.contact__button{
    text-decoration: none;
    max-width: 200px;
    height: 40px;
    display: block;
    line-height: 40px;
    letter-spacing: 3px;
    position: relative;
    text-align: center;
    color: orange;
    margin: 1rem auto;
}
.contact__button div{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid orange;
    transition: all .3s ease-in-out;
}
.contact__button span.bg{
    position: relative;
    width: 100%;
    height: 100%;
    left: -5px;
    top: 0;
    background-color: orange;
}

.contact__button span.base{
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0;
    box-sizing: border-box;
    background-color: orange;
    transition: all .3s ease-in-out;
    transform: skewX(-19deg);
}
.contact__button:hover span.base{
    width: 100%;
}
.contact__button span.text{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: orange;
}
.contact__button:hover span.text{
    color: blue;
}
  @media screen and (max-width: 281px){
    .home__intro .text__container h2{
      font-size: 1.15em !important;
    }
}
  @media screen and (max-width: 627px){
    .home__intro .text__container h2{
      font-size: 1.45em;
    }
}