#contact{
    width: 100%;
    position: sticky;
    top: 0;
    padding: 4rem .5rem .5rem .5rem;
    margin: 0;
    background: rgba(29, 29, 29, 1);
    color: bisque;
    height: 100%;
}

.contact__container{
    display: grid;
    grid-template-columns: 49.5% 49.5%;
    gap: 1%;
    position: relative;
}

.contact__form{
    display: grid;
    grid-template-columns: 100%;
    padding: 1rem 0;
}

.form__input__wrapper{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 1rem;
}

.name__email{
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 2%;
}

.form__input__group{
    position: relative;
}

/* GENERAL STYLING */
.form__input__group input, textarea{
    position: relative;
    width: 100%;
    background: rgba(35, 35, 35, 1);
    height: 3rem;
    color: white;
    padding: .5rem;
    letter-spacing: .03rem;
    font-size: 1rem;
    font-family: sans-serif;
}
/* OVERRIDES ON TEXTAREA */
textarea{
    height:12rem;
}

/* GENERAL STYLING FOR SPAN */
.form__input__group input + span::after,
.form__input__group textarea + span::after{
    content: '';
    height: 2px;
    position: absolute;
    background: bisque;
    transition: all 0.3s linear;
    left: 0;
    bottom: 0;
    width: 0;
}
.form__input__group textarea + span::after{
bottom: .5rem;
}
/* GENERAL WIDTH OF THE SPANS ON FOCUS */
.form__input__group input:focus + span::after,
.form__input__group textarea:focus + span::after{
    width: 100%;
}

.error input, .error textarea{
    border-bottom: 2px solid red;
    transition: all .2s linear;
}

.success input, .success textarea{
    border-bottom: 2px solid green;
    transition: all .2s linear;
}

.errmsg{
    position: absolute;
    bottom: 50px;
    right: 0;
    transition: all .3s ease-in-out;
    transform: translate(100%, 50%);
    transition: all .3s linear;
    display: flex;
    flex-direction: column-reverse;
    z-index: 1;
}

.errmsg__content{
    padding: 15px;
    background: red;
    color: #fff;
    opacity: 1;
    transition: opacity 550ms ease-in-out;
    margin-bottom: 5px;
}

.errmsg__content.hide{
    opacity: 0;
}

.submit__btn{
    position: relative;
    width: 50%;
    height: 3rem;
}

.submit__btn button{
    position: relative;
    height: 3rem;
    border: 2px solid bisque;
    font-size: large;
    border-radius: 7px;
    background: transparent;
    color: bisque;
    width: 100%;
    transition: all .3s ease;
}
.submit__btn span{
    border-radius: 7px;
    position: absolute;
    content: '';
    background: bisque;
    height: 3rem;
    transition: all .3s ease;
    width: 0;
    margin: 0;
}

.submit__btn:hover span, .submit__btn:hover button{
    width: 100%;
    color: black;
}


.contact__map{
    position: relative;
    padding: 1rem 0;
}
.google__map{
    position: relative;
    width: 100%;
}

.google__map iframe{
    width: 100%;
    margin-top: 50px;
    height: 100vh;
    padding: 0 1rem;
}

.google__map .map__content{
    background-color: rgba(0, 0, 0, 0.9);
    color: #f3f3f3;
    position: absolute;
    top: 5.5rem;
    left: 1.5rem;
    padding: 10px;
    backdrop-filter: blur(1px);
}

@media screen and (max-width: 627px){
    .contact__container{
        grid-template-columns: 100%;
    }

    .name__email{
        grid-template-columns: 100%;
        gap: .5rem;
    }
  }