header {
    width: 100%;
    box-shadow: 0 0 5px 0 black;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0.2rem 1.5rem;
    background:rgba(0, 0, 0, .1);
    position: fixed;
    top: 0;
    z-index: 2;
    transition: all .5s ease;
  }
  
  header:hover{
  backdrop-filter: blur(1px);
}

.brand__name{
  color:var(--color-light);
  font-family: 'Bebas Neue', cursive;
  font-size: 60px;
  line-height: 50px;
  background: transparent;
  border-radius: 50%;
  width: 3.5rem;
  aspect-ratio: 1/1;
  padding-top: 0.5rem;
  text-align:center;
  text-shadow: 2px 2px 2px black;
  z-index: 2;
}
  
/* ======= MENU BARS ======= */
.menu__bars {
    cursor: pointer;
    background:rgba(0, 0, 0, 0.9);
    border-radius: 50%;
    padding: 0.6rem;
    z-index: 2;
}  

.bar1, .bar2, .bar3 {
    width: 33px;
    height: 4px;
    background: var(--color-light);
    margin: 6px 0;
    transition: 0.4s;
  }

  .menu__bars:hover > .bar{
      background: white;
  }

  .change:hover > .bar{
    background: white;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  /* ======= MENU LINKS ======= */
  .menu__links{
    background: rgb(10, 10, 10, 1);
    position: absolute;
    right: -32rem;
    top: 0rem;
    width: 40%;
    height: 100vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding-top: 11vh;
    text-align: center;
  }
  
  .menu__links .menu__list ul a{
    height: 11vh;
    padding-top: 1rem;
    display: block; /*important*/
    width: 100%;
  }

  .menu__links .menu__list > ul > li > a:hover{
    color: var(--color-white);
  }
  
  .menu__links .menu__socials{
  font-size:x-large;
  background: black;
  width: 100%;
  height: 10%;
  position: fixed;
  bottom: 0;
  padding: 1rem;
}

.menu__links .menu__socials a{
  padding: 1.1rem;
}

/* ======= MEDIA QUERIES FOR MEDIUM DEVICES ======= */
@media screen and (max-width: 1024px){

}

/* ======= MEDIA QUERIES FOR SMALL DEVICES ======= */
@media screen and (max-width: 627px){
  
  .menu__links{
    width: 100%;
  }
}