header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0.5rem 2.2rem;
    position: fixed;
    top: 0;
    z-index: 2;
    transition: all .5s ease;
    background: transparent;
  }

  header:hover{
    box-shadow: .1px .1px 7px black;
  }

.brand__name{
  font-family: 'La Belle Aurore', cursive;
  font-family: 'Bebas Neue', 'open sans';
  font-size: 24.55px;
  font-weight: 400;
  line-height: 35px;
  background: var(--color-bg);
  border-radius: 50%;
  padding: 1.1rem .6rem .82rem .6rem;
  transform: rotate(-250deg);
  animation: cl_turn 1.3s ease;
  border: 1px solid var(--color-bg2);
  z-index: 2;
  padding: 2rem;
  transition: all 1s ease
}

.brand__name:hover{
  animation: acl_turn 1s  ease forwards;
  background: white;
  border-color: white;
  box-shadow: 1px 1px 40px var(--color-white);
}

@keyframes cl_turn{
  from { transform: rotate(-250deg);}
  to { transform: rotate(110deg);}
}
@keyframes acl_turn{
  from { transform: rotate(110deg);}
  to { transform: rotate(-250deg);}
}
.brand__name .inner__circle{
  content: " ";
  width: 2rem;
  z-index: 2;
  background: var(--color-bg2);
  box-shadow: 0 0 3px white;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  transform: translate(-33%);
}
.brand__name a{
  color: white;
  border-radius: 50%;
}
.brand__name:hover a, .brand__name:hover span{
  color: var(--color-bg);
  background: white;
  font-weight: 600;
  text-shadow: 0 0 1px;
}
.brand__name:hover .inner__circle{
  background: var(--color-bg2);
}
.menu__label{
  position: relative;
}
.brand__name span{
  font: 12px Monaco, MonoSpace;
  height: 2rem;
  position: absolute;
  left: 27px;
  top: 0;
  width: 10px;
  color: white;
  transform-origin: bottom center;
  background: var(--color-bg);
  text-shadow: 1px 1px 2px black;
  font-weight: 600;
  transition: all 1s ease;
}
.brand__name .char-one{
  -webkit-transform: rotate(274deg);
  -moz-transform: rotate(274deg);
  -ms-transform: rotate(274deg);
  -o-transform: rotate(274deg);
  transform: rotate(274deg);
}
.brand__name .char-two{
  -webkit-transform: rotate(294deg);
  -moz-transform: rotate(294deg);
  -ms-transform: rotate(294deg);
  -o-transform: rotate(294deg);
  transform: rotate(294deg);
}
.brand__name .char-three{
  -webkit-transform: rotate(314deg);
  -moz-transform: rotate(314deg);
  -ms-transform: rotate(314deg);
  -o-transform: rotate(314deg);
  transform: rotate(314deg);
}
.brand__name .char-four{
  -webkit-transform: rotate(334deg);
  -moz-transform: rotate(334deg);
  -ms-transform: rotate(334deg);
  -o-transform: rotate(334deg);
  transform: rotate(334deg);
}
.brand__name .char-five{
  -webkit-transform: rotate(354deg);
  -moz-transform: rotate(354deg);
  -ms-transform: rotate(354deg);
  -o-transform: rotate(354deg);
  transform: rotate(354deg);
}
.brand__name .char-connect-one{
  -webkit-transform: rotate(13deg);
  -moz-transform: rotate(13deg);
  -ms-transform: rotate(13deg);
  -o-transform: rotate(13deg);
  transform: rotate(13deg);
}
.brand__name .char-six{
  -webkit-transform: rotate(32deg);
  -moz-transform: rotate(32deg);
  -ms-transform: rotate(32deg);
  -o-transform: rotate(32deg);
  transform: rotate(32deg);
}
.brand__name .char-seven{
  -webkit-transform: rotate(52deg);
  -moz-transform: rotate(52deg);
  -ms-transform: rotate(52deg);
  -o-transform: rotate(52deg);
  transform: rotate(52deg);
}
.brand__name .char-eight{
  -webkit-transform: rotate(72deg);
  -moz-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  -o-transform: rotate(72deg);
  transform: rotate(72deg);
}
.brand__name .char-nine{
  -webkit-transform: rotate(92deg);
  -moz-transform: rotate(92deg);
  -ms-transform: rotate(92deg);
  -o-transform: rotate(92deg);
  transform: rotate(92deg);
}
.brand__name .char-ten{
  -webkit-transform: rotate(112deg);
  -moz-transform: rotate(112deg);
  -ms-transform: rotate(112deg);
  -o-transform: rotate(112deg);
  transform: rotate(112deg);
}
.brand__name .char-connect-two{
  -webkit-transform: rotate(131deg);
  -moz-transform: rotate(131deg);
  -ms-transform: rotate(131deg);
  -o-transform: rotate(131deg);
  transform: rotate(131deg);
}
.brand__name .char-eleven{
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);
}
.brand__name .char-twelve{
  -webkit-transform: rotate(170deg);
  -moz-transform: rotate(170deg);
  -ms-transform: rotate(170deg);
  -o-transform: rotate(170deg);
  transform: rotate(170deg);
}
.brand__name .char-thirteen{
  -webkit-transform: rotate(190deg);
  -moz-transform: rotate(190deg);
  -ms-transform: rotate(190deg);
  -o-transform: rotate(190deg);
  transform: rotate(190deg);
}
.brand__name .char-fourteen{
  -webkit-transform: rotate(210deg);
  -moz-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  -o-transform: rotate(210deg);
  transform: rotate(210deg);
}
.brand__name .char-fifteen{
  -webkit-transform: rotate(230deg);
  -moz-transform: rotate(230deg);
  -ms-transform: rotate(230deg);
  -o-transform: rotate(230deg);
  transform: rotate(230deg);
}
.brand__name .char-connect-three{
  -webkit-transform: rotate(251deg);
  -moz-transform: rotate(251deg);
  -ms-transform: rotate(251deg);
  -o-transform: rotate(251deg);
  transform: rotate(251deg);
}
  
/* ======= MENU BARS ======= */
.menu__bars {
    cursor: pointer;
    background:var(--color-bg);
    border-radius: 50%;
    padding: .85rem;
    z-index: 2;
    border: 1px solid var(--color-bg2);
  }  
  
  .bar1, .bar2, .bar3 {
    width: 33px;
    height: 4px;
    margin: 6px 0;
    transition: 0.4s;
    box-shadow: 2px 2px 0px var(--color-bg);
    background: white;
    position: relative;
  }
  .bar2 p{
    font-size: .7em;
    font-weight: 600;
    color: white;
    position: absolute;
    left: -51px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--color-bg);
    padding: 0 0 0 4px;
    border: 1px solid var(--color-bg2);
    border-right: none;
    border-radius: 11px 0 0 11px;
    text-shadow: 1px 1px 1px black;
  }
  .menu__bars:hover > .bar{
    background: var(--color-white2);
  }

  .change{
    border: none;
  }
  
  .change:hover > .bar{
    background: white;
  }
  
  .change .bar1 {
    background: var(--color-white2);
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    background: var(--color-white2);
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  /* ======= MENU LINKS ======= */
  .menu__links{
    background: var(--color-bg);
    position: absolute;
    right: -32rem;
    top: 0rem;
    width: 9rem;
    height: 100vh;
    z-index: -1;
    padding-top: 11vh;
    text-align: center;
    box-shadow: 0px 0px 7px black;
  }
  
  .menu__links .menu__list ul a{
    height: 8.7vh;
    padding-top: 8%;
    display: flex;
    width: 100%;
    color: var(--color-white);
    font-weight: 100;
    border-bottom: .1rem dotted gray;
    background: var(--color-bg);
    align-items: center;
    justify-content: center;
  }
  
  .menu__links .menu__list > ul > li > a:hover{
    box-shadow: 1px 1px 3px black;
    color: orange;
    background: var(--color-bg2);
    text-shadow: 1px 1px 1px black;
  }
  
  .menu__links .menu__socials{
    font-size: 1.35em;
    background: var(--color-bg);
    width: 100%;
    height: 11%;
    text-align: center;
    border-bottom: 1px dotted gray;
    padding-top: 10px;
    margin-top: 1.5px;
  }
  
  .menu__links .menu__socials a{
    padding: 7px;
  }
  
  .menu__links .menu__socials:hover{
    background: var(--color-bg2);
    box-shadow: 1px 1px 3px black;
  }
  
  .menu__links .menu__socials a:hover{
  box-shadow: 1px 1px 5px black;
  color: orange;
}

/* logo for menu */

.menu__links  .brand__name{
  position: absolute;
  bottom: 3%;
  left: 26%;
  animation: cl_turn 1.3s ease;
  z-index: -1;
}

.menu__links  .brand__name:hover{
  animation: acl_turn 1s  ease forwards;
  background: white;
  border-color: white;
}

.menu__links .brand__name a{
  color: var(--color-white);
}
.menu__links .brand__name:hover a{
  color: var(--color-bg);
}

/* ======= MEDIA QUERIES FOR MEDIUM DEVICES ======= */
@media screen and (max-width: 1024px){
  .bar2 p{
    display: none;
  }
  .menu__links .menu__list ul a{
    border: none;
    height: 9vh;
  }
  .menu__links .menu__list{
    padding-top: 1rem;
  }
  .menu__links .menu__socials{
    bottom: 16%;
  }
  .menu__links .menu__socials a{
    padding: .4rem;
  }
}

/* ======= MEDIA QUERIES FOR SMALL DEVICES ======= */
@media screen and (max-width: 627px){
  header{
    padding: .7rem;
  }
  .menu__links{
    width: 100%;
    padding-top: 8.5vh;
  }
  .menu__links .menu__list ul a{
    height: 11.4vh;
    padding-top: 0%;
    font-size: 1.2em;
  }
  .menu__links .menu__list > ul > li > a:hover,   .menu__links .menu__socials:hover{
    background: transparent;
    box-shadow: none;
  }
  .menu__links  .brand__name{
    display: none;
  }
  .menu__links .menu__socials{
    font-size: 2em;
    padding-top: 1.1rem;
    margin-top: 4px;
    border-bottom: none;
    border-top: 1px dotted gray;
  }
  .menu__links .menu__socials a{
    padding: 1rem 1rem;
  }
}