header {
    width: 100%;
    box-shadow: 0 1px 10px black;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0.5rem 1.5rem;
    position: fixed;
    top: 0;
    z-index: 2;
    transition: all .5s ease;
    background: transparent;
  }
  
  header:hover{
  backdrop-filter: blur(0px);
}

.brand__name{
  font-family: 'Bebas Neue', cursive;
  font-size: 45px;
  line-height: 27px;
  background: transparent;
  aspect-ratio: 1/1;
  padding: 0.5rem .1rem 0 0;
  text-align:center;
  z-index: 2;
  border: 5px solid var(--color-bg2);
  transform: rotate(45deg);
  text-shadow: 2px 1px 0px var(--color-white2);
  transition: all .3s ease-in-out;
}

.brand__name:hover{
  transform: rotate(-45deg);
}

.brand__name a{
  color: var(--color-bg2);
}
.brand__name a:hover{
  color: var(--color-bg2);
}
  
/* ======= MENU BARS ======= */
.menu__bars {
    cursor: pointer;
    background:var(--color-bg3);
    border-radius: 50%;
    padding: 0.6rem;
    z-index: 2;
}  

.bar1, .bar2, .bar3 {
    width: 33px;
    height: 4px;
    background: var(--color-white2);
    margin: 6px 0;
    transition: 0.4s;
    box-shadow: 2px 2px 0px black;
  }

  .menu__bars:hover > .bar{
      background: white;
  }

  .change:hover > .bar{
    background: white;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  /* ======= MENU LINKS ======= */
  .menu__links{
    background: var(--color-bg2);
    position: absolute;
    right: -32rem;
    top: 0rem;
    width: 40%;
    height: 100vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding-top: 11vh;
    text-align: center;

  }
  
  .menu__links .menu__list ul a{
    height: 12.5vh;
    padding-top: 1.8rem;
    display: block; /*important*/
    width: 100%;
    border-left: .5rem solid var(--color-bg2);
    border-right: .5rem solid var(--color-bg2);
  }

  .menu__links .menu__list > ul > li > a:hover{
    color: white;
    border-left: .5rem solid black;
    border-right: .5rem solid black;
  }
  
  .menu__links .menu__socials{
  font-size:x-large;
  background: black;
  width: 100%;
  height: 10%;
  position: fixed;
  bottom: 0;
  padding: 1rem;
}

.menu__links .menu__socials a{
  padding: 1.1rem;
}

/* ======= MEDIA QUERIES FOR MEDIUM DEVICES ======= */
@media screen and (max-width: 1024px){

}

/* ======= MEDIA QUERIES FOR SMALL DEVICES ======= */
@media screen and (max-width: 627px){
  
  .menu__links{
    width: 100%;
  }
}