footer{
    height: 100%;
    width: 100%;
    background-color: var(--color-bgb1);
    position: relative;
    text-align: center;
    padding: 2rem;
    box-shadow: 0 0 2px 0 white;
}

footer a{
    font-size: xx-large;
    padding: 2.5rem;
}

footer p{
    padding: 1rem;
    color: var(--color-light);
    font-weight: 100;
}


@media screen and (max-width: 627px){
    footer a{
        padding: 1rem;
    }
    footer p{
        padding: 0;
    }
}