#experience{
    width: 100%;
    position: relative;
    top: 0;
    margin: 0;
    text-align: center;
    height: 150vh;
    background: white;
}

#experience > h1{
    color:brown;
}

.upperBackground{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    height: 60vh;
    border-radius: 0 0 60px 60px;
    background: white;
    width: 100%;
    border: 9px solid var(--color-white);
    border-top: 0;
}

.experience__wrapper{
    display: flex;
    flex-direction: column;
    box-shadow: .2px .3px .5px .5px darkgray;
    margin: 2rem 2rem;
    background: var(--color-white);
}

.qualifications{
    display: grid;
    grid-template-columns: 49% 49%;
    background: var(--color-white);
    gap: 2%;
    text-align: start;
    padding: .5rem;
    color: var(--color-bg);
}

.qualifications .quali__card{
    box-shadow: .2px .3px .5px .5px darkgray;
    padding: 1rem;
    background: white;
}

.qualifications .quali__card:hover{
    transition: all .4s ease;
    color: black;
}

.quali__card p, .quali__card h4, .quali__card ul{
    margin: 1rem;
}

.quali__card p{
    color: gray;
}

.work__experience{
    padding-top: 2rem;
    color: var(--color-bg);
}

.work__experience:hover {
    transition: all .5s ease; ;
    color: black;
}

@media screen and (max-width: 627px){
    .qualifications{
        grid-template-columns: 100%;
    }
}