#experience{
    width: 100%;
    position: relative;
    top: 0;
    margin: 0;
    text-align: center;
    height: 100%;
    font-weight: 300;
    font-size: large;
    border-bottom: 2px solid var(--color-white);
}

#experience > h1{
    padding-bottom: .5rem;
    color:brown;
}

#experience h1::before, #experience h1::after{
    background: brown;
}

.experience__wrapper{
    display: flex;
    flex-direction: column;
    margin: 0 1rem 5rem 1rem;
}


.flip__card{
    background-color: transparent;
    width: 60%;
    height: 290px;
    perspective: 1000px;
    margin: auto;
    z-index: 1;
}

.qualifications{ 
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-weight: 400;
    color: black;
}

.qualifications span{
    color: gray;
    font-size: .8em;
}

.flip__card:hover .qualifications{
    box-shadow: 0 -4px 8px 0 rgba(0,0,0,0.2);
    transform: rotateX(-180deg);
}

.quali__card{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: white;
    background: url(../../assets/edu.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 0rem -4rem;
    padding: 0;
}

.quali__card p{
    padding: .3rem;
}

.back{
    transform: rotateX(-180deg);
}

.logo_div img{
    width: 18%;
    margin: auto;
    padding-top: .8rem;
}

.cert__links{
    font-weight: 100;
    font-size: .8em;
    color: darkgray;
    display: flex;
    flex-direction: column;
    margin: auto;
    background: white;
    border-bottom: 4px solid rgba(237, 208, 143);
    box-shadow: 0 2px 3px darkgray;
    width: 100%;
    border-radius: 0 0 7px 7px;
}
.cert__links a{
    padding: 2px;
}
.cert__links a:hover{
    color: brown;
    background:rgba(237, 208, 143);
}

.work__experience{
    padding: 3rem;
    color: var(--color-bg);
    border: 2px solid var(--color-white);
}

.work__experience button{
    width: 36%;
    height: 5rem;
    font-size: x-large;
    border: 3px solid white;
    transition: .5s all ease;
    margin: 1.5rem auto;
    background: transparent;
    color: var(--color-bg);
    border: 2px solid rgba(237, 208, 143);
}

.work__experience button:hover{
    color: var(--color-bg2);
    background: rgba(237, 208, 143);
}

@media screen and (max-width: 627px){
    #experience > h1{
        font-size: xx-large;
    }
    .flip__card{
        margin: .5rem auto 1rem auto;
        width: 100%;
    }
    .work__experience button{
        width: 100%;
    }
}

@media screen and (max-width: 1024px){
    .quali__card{
        background-size: contain;
    }
}
