@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Faster+One&family=Poppins:wght@500;600&family=Ultra&family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-bg: rgb(26, 35, 32);
    --color-bg2: rgb(31, 51, 52);
    --color-bg3: rgb(45, 74, 80);
    --color-bg4: rgb(70, 99, 103);
    --color-bg5: rgb(83, 93, 68);
    --color-bgb1: rgb(27, 27, 27);
    --color-bgb2: rgb(33, 33, 33);
    --color-bgb3: rgb(74, 74, 74);
    --color-txt: rgb(149, 202, 218);
    --color-txt2: rgb(177, 207, 205);
    --color-white: rgb(228, 228, 228);
    --color-white2: rgb(195, 206, 200);
    --color-green1: rgb(89, 125, 1);
    --color-green2: rgb(57, 87, 13);
 
    --transition: all 400ms ease;
}

html {
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 13px;
    background: gray;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--color-bgb2); 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: var(--color-bgb2); 
      border-radius: 7px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: var(--color-bgb2); 
  }

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: var(--color-white);
    line-height: 1.5;
}

/* ======= GENERAL STYLES ======= */
section {
    height: 100vh;
    z-index: 0;
    position: sticky;
    top: 0;
    color: black;
    background: white;
}
section h1{
    text-align: center;
    padding-top: .5rem;
    padding-bottom: 1rem;
  }

h1, h2, h3, h4, h5 {
    font-weight: 500;
}
h1 {
    font-size: 2.5rem;
}


.text-light {
    color: var(--color-light);
}
a {
    color: var(--color-white2);
    transition: var(--transition);
}
a:hover {
    color: white;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* ======= FADE IN FOR CLASSES======= */
.fadeIn{
  opacity:1;
  transition: opacity 1s;
}
/* FADE IN FOR ANIMATIONS */
@keyframes fadeIn {
    0% {opacity: 0;}
    10% {opacity: 0.1;}
    20% {opacity: 0.2;}
    30% {opacity: 0.3;}
    40% {opacity: 0.4;}
    50% {opacity: 0.5;}
    60% {opacity: 0.6;}
    70% {opacity: 0.7;}
    80% {opacity: 0.8;}
    90% {opacity: 0.9;}
    100% {opacity: 1;}
  }
@keyframes slideDown {
    0% {transform: translateY(-100vh);}
    100% {transform: translateY(0);}
  }
@keyframes slideUp {
    0% {transform: translateY(0);}
    100% {transform: translateY(-100vh);}
  }
@keyframes slideRight {
    0% {transform: translateX(-32rem);}
    100% {transform: translateX(0px);}
  }
@keyframes slideLeft {
    0% {transform: translateX(0);}
    100% {transform: translateX(-32rem);}
  }

  .slideDown{
    animation: slideDown 1s ease;
  }
  .slideUp{
    animation: slideUp 1s ease;
  }

  .slideLeft{
    animation: slideLeft .8s ease both;
  }
  .slideRight{
    animation: slideRight 1s ease both;
  }


/* ======= FADE OUT ======= */
.fadeOut{
  opacity:0;
  transition: opacity 7s;
  pointer-events: none;
}

/* ======= BTN COLOR FILL ======= */
.btn__color__fill{
    position: relative;
    height: 3rem;
    width: 50%;
}

.btn__color__fill button{
    position: relative;
    transition: all .3s ease;
    background: transparent;
    width: 100%;
    height: 3rem;
    font-size: large;
}

.btn__color__fill span{
    position: absolute;
    content: '';
    transition: all .3s ease;
    width: 0;
    margin: 0;
    height: 3rem;
    background: var(--color-bgb3);
}

.btn__color__fill:hover span, .btn__color__fill:hover button{
    width: 100%;
    color: white;
}
.btn_about{
    position: relative;
    height: 3rem;
}

.btn_about button{
    position: relative;
    transition: all .3s ease;
    background: transparent;
    width: 100%;
    height: 3rem;
    font-size: large;
    color: black;
}

.btn_about span{
    position: absolute;
    content: '';
    transition: all .3s ease;
    width: 0;
    margin: 0;
    height: 3rem;
    background: var(--color-bgb2);
}

.btn_about:hover span, .btn_about:hover button{
    width: 100%;
    color: beige;
}

/* ======= MEDIA QUERIES FOR MEDIUM DEVICES ======= */
@media screen and (max-width: 1024px){
    .container {
        width: var(--container-width-md);
    }
    section {
        margin-top: 6rem;
    }
}

/* ======= MEDIA QUERIES FOR SMALL DEVICES ======= */
@media screen and (max-width: 627px){
    .container {
        width: var(--container-width-sm);
    }
    section {
        margin-top: 2rem;
        height: 100vh;
    }
}