nav{
    animation-name: nav-fadeIn;
    animation-duration: 1.5s;
}
@keyframes nav-fadeIn {
    0% {opacity: 0;}
    10% {opacity: 0.1;}
    20% {opacity: 0.2;}
    30% {opacity: 0.3;}
    40% {opacity: 0.4;}
    50% {opacity: 0.5;}
    60% {opacity: 0.6;}
    70% {opacity: 0.7;}
    80% {opacity: 0.8;}
    90% {opacity: 0.9;}
    100% {opacity: 1;}
}

.nav__links{
    position: fixed;
    z-index: 1;
    display: flex;
    gap: 40rem;
    bottom: 0%;
    right: 50%;
    transform: translateX(50%);
    padding: 1rem;
}
nav a, .go__down, .go__up{
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-light);
    font-size:larger;
    display: flex;
    background: rgba(0, 0, 0, 0.4);
    z-index: 3;
    animation: scroll_alter 1s ease infinite alternate;
}
@keyframes scroll_alter{
    0%{ padding: .4rem}
    100%{ padding: .6rem}
}

nav a:hover{
    background: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 627px){
    .nav__links{
        right: 50%;
        transform: translateX(50%);
        padding: 1rem;
    }
    nav a, .go__down, .go__up{
        margin: 0 4.5rem;
    }
}
@media screen and (max-width: 727px){
    .nav__links{
        gap: 5.5rem;
    }
}